.root {
    /* Swatch Colors - Blue*/
    -swatch-100: #BBDEFB;
    -swatch-200: #90CAF9;
    -swatch-300: #64BEF6;
    -swatch-400: #42A5F5;
    -swatch-500: #2196F3;
    -dark: rgb(47.0, 52.0, 57.0);
    -swatch-grey: rgb(200.0, 200.0, 200.0);
    -swatch-dark-grey: rgb(150.0, 150.0, 150.0);
    -swatch-light-grey: rgb(230.0, 230.0, 230.0);
     -swatch-toolbar: rgb(245.0, 245.0, 245.0);
    -swatch-toolbar-selected: rgb(215.0, 215.0, 215.0);
}
